<h1>Stupid Coaching</h1>

<div class="question_container">
  <!-- display question -->
  <p><%= @question %></p>
  <p id = "you"> -You</p>

</div>
<!-- display answer -->
<div class="answer_container">
  <p><%= @answer %></p>
  <p id = "coach"> -Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
