<h1>Stupid Coach</h1>
<div class="asking">
  <p>Ask your coach </p>
</div>

<form action="answer" method="get">
  <input class="example" type="text" name="question" id="askbox">
  <input class="btn" type="submit" value="Ask">
</form>
